* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(231, 230, 245);
    min-width: 375px;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* Header | Navigation */

header {
    position: fixed;
    display: flex;
    width: 100vw;
    background: rgb(25, 25, 25);
    min-height: 5vh;
    max-width: 100%;
    top: 0;
    box-shadow: 0 2px 10px 2px grey;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContainer {
    display: flex;
    font-size: 15px;
    list-style: none;
    flex-wrap: wrap;
}

.navLink {
    color: #f2f2f2;
    line-height: 1.5em;
    font-size: 1.1em;
}

.navLink:hover {
    color: rgb(200, 200, 200);
}

/* Section Headers */

.heading {
    background: black;
    min-height: 5vh;
}

.headingTitleBox {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 50%;
    background: rgb(25, 25, 25);
}

.headingTitle {
    color: #f2f2f2;
    font-size: 1.5em;
    margin-left: 1em;
}

/* Index | Slideshow */

#theContainer {
    min-height: 100vh;
}

#leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

#leftSide h1 {
    font-size: 3em;
}

#leftSide span {
    text-align: center;
}

#viewPhotosBtn {
    background: white;
    padding: 0.5em;
    border: 1px solid black;
    margin-top: 2em;
    user-select: none;
    color: black;
}

#viewPhotosBtn:hover {
    background:rgb(25, 25, 25);
    color: #f2f2f2;
    cursor: pointer;
    box-shadow: 0px 2px 10px black;
}

#viewPhotosBtn:active {
    background:rgb(43, 42, 42);
}

#rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
}

#rightSide img {
    width: 80%;
    max-width: 80%;
    border-radius: .5em;
    box-shadow: 10px 10px 5px grey;
}

/* Section 2 | Gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}

#gallery img {
    margin: 1em;
    max-width: 18%;
    object-fit: cover;
}

/* Section 3 | Contact/Newsletter */

#contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    color: #f2f2f2;
}

#contactContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #f2f2f2;
}

/* Media Queries */
@media (min-width: 769px) { /* Bigger Screen */
    .container {
        width: 80%;
        margin: auto;
    }
    .navLink {
        margin-left: 2.5em;
    }

    /* */
    #theContainer {
        display: flex;
        min-height: 95vh;
    }
}

@media (max-width: 768px) { /* Smaller Screen */
    
    #section1 {
        margin-top: 10vh;
    }

    /* header | nav */
    .gg-camera {
        margin: 2em;
        transform: scale(var(--ggs,1.5));
    }
    .hamburger {
        display: block !important;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .navContainer {
        display: none;
        flex-direction: column;
        width: 100%;
        font-size: 2em;
    }
    .navContainer.showNav {
        display: flex;
    }
    .navLink {
        display: flex;
        justify-content: center;
    }
    
    /* Index | Slideshow */

    #leftSide {
        width: 50%;
        margin: 2em auto;
    }
    #leftSide span {
        font-size: 1.25em;
    }
    #viewPhotosBtn {
        font-size: 1.5em;
        margin-top: 1em;
    }
    #rightSide {
        width: 100%;
        margin: auto;
    }
    #rightSide img {
        box-shadow: 0 8px 6px -6px grey;
        width: 100%;
    }

    /* Gallery */
    #gallery img {
        max-width: 40%;
    }
}